.flip-card {

    width: 110px;
    height: 160px;

    position: relative;

    perspective: 1000px;

    cursor: pointer;

    scroll-snap-align: start;
}

.picked-button {
    cursor: pointer;
    user-select: none;
}

.picked-button:hover {
    color: #4caf50;
}


.flip-card-inner {
    width: 100%;
    height: 100%;

    position: relative;

    transition: transform .6s;

    transform-style: preserve-3d;
}




.flip-card.flipped .flip-card-inner {

    transform:
        rotateY(180deg);

}



.flip-card-front,
.flip-card-back {
    position: absolute;
    inset: 0;

    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    backface-visibility: hidden;

    font-size: 48px;
    font-weight: bold;

    border-radius: 10px;

    user-select: none;
}


.flip-card-front {

    background: #222;

    color: white;

}



.flip-card-back {

    background: white;

    color: #111;

    transform:
        rotateY(180deg);


    border:
        3px solid #4CAF50;

}